.App {
  width: 100%;
  height: 100vh;
}

.MenuItem {
  display: block;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  row-gap: 2rem;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 4rem;
  row-gap: 2rem;
}

.left-column, .right-column{ 
   display: flex;
   flex-direction: row;
}

.left-column{
	width: 40%;
  height: 80vh;
}
.right-column{
	width: 60%;
  height: 80vh;
}

.workspace {
  width: 100%;
}

input {
  width: 50%;
  padding: 6px 10px;
  margin: 2px 0;
  box-sizing: border-box;
}